{% extends "PawelWikiBundle:Default:szablon_wiki_strona.html.twig" %}
     {% block content %}
		     <ul class="nav nav-tabs">
				  <li class="inactive"><a href="{{ path('pawel_wiki_strona', {'tytul': tytul }) }}">Czytaj</a></li>
				  <li class="inactive"><a href="{{ path('pawel_wiki_edytuj_artykul', {'tytul': tytul }) }}">Edytuj</a></li>
				  <li class="active"><a href="{{ path('pawel_wiki_historie_artykul', {'tytul': tytul }) }}">Historia i autorzy</a></li>
			</ul>
			<br>
			<div class="panel panel-default">
			<div class="panel-heading">Historia artykulu</div>
		    {% for historia in historiaArray %}
				<div class="panel-body">
					<ul class="list-inline">
						<il>{{ historia.getData|date('Y-m-d') }}</il>
						<il>Ostatnio Modyfikowal: {{ historia.getAutor }}</il>
						<il>Zmienione wersy: +{{ historia.getArrayStatystyka["+"] }} -{{ historia.getArrayStatystyka["-"] }}</il>
						<il>
							<div class="dropdown">
							  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">		
							  	Pokaż historie
							  <span class="caret"></span></button>
							  <ul class="dropdown-menu">							  	
						  		{% for zmienionyString in historia.getArrayKrotkiDiff[0] %}
						  			<li> {{ zmienionyString[0] }} </li>
						  		{% endfor %}
							  </ul>
							</div>
  						</il>		   
						
					</ul>
				</div>
    		{% endfor %}
    		</div>
     {% endblock %}
       