{% extends "PawelWikiBundle:Default:szablon_wiki_strona.html.twig" %}
     {% block content %}
     	<hr>
       <div class="panel panel-default">
          <div class="panel-heading"><h2>Znaleziono:</h2></div>
      </div>
     	{% for artykul in artykuly %}
     		<div class="panel panel-default">
  				<div class="panel-heading">
            <a href="{{ path('pawel_wiki_strona', {'tytul': artykul.odczytajTytul } ) }}" title={{artykul.odczytajTytul }} ">{{artykul.odczytajTytul }}</a>
          </div>
  					<div class="panel-body">
  							{{ render(controller("PawelWikiBundle:WyswietlArtykul:wyswietlArtykulPozaBaza", {'artykul': artykul} )) }}
  							<br>
  							<a href="{{ path('pawel_wiki_strona', {'tytul': artykul.odczytajTytul } ) }}" title="Utworz nowy Wiki Artykul">Idź do artykulu</a>
  					</div>
			</div>
  		{% endfor %}
     {% endblock %}